BACKEND_URL=https://codelink-i29m.onrender.com
NEXT_PUBLIC_BACKEND_URL=https://codelink-i29m.onrender.com
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCMBanRatlwGIWu9ogJQOQKxX7h0Ol0s8s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=codelink-d1d28.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=codelink-d1d28
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=codelink-d1d28.firebasestorage.app
NEXT_PUBLIC_FIREBASE_APP_ID=1:293301963305:web:3ca752d0062bc58c8d6a38
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=293301963305
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-W87NSFERN7
NEXT_PUBLIC_WEBRTC_STUN_URL=stun:stun.l.google.com:19302
NEXT_PUBLIC_WEBRTC_TURN_URL=
NEXT_PUBLIC_WEBRTC_TURN_USERNAME=
NEXT_PUBLIC_WEBRTC_TURN_CREDENTIAL=
